@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: theme("fontFamily.kr");
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-neutral-100 text-shokz-ink;
  }
}
